@import "../../../styles.scss";

.entry-point-container {
  .form-container {
    .form-group {
      &:not(:last-child) {
        margin-bottom: -15px;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .labels {
        cursor: pointer;
      }
    }
  }
  .privacy {
    margin-top: 45px;
    .labels {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
