@import "../../../styles.scss";

.labels {
  margin-top: 18px;
}

.form-container {
  .form-group {
    &:not(:last-child) {
      margin-bottom: -15px;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .labels {
      cursor: pointer;
    }
  }
}
