<div class="entry-point-container">
  <div class="logo"></div>
  <div class="title form-title">Reset Password?</div>
  <div class="labels">
    Please enter your email address to request a password reset.
  </div>
  <div class="form-container">
    <form [formGroup]="resetPasswordForm">
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            name="password"
          />
          <span
            class="eye"
            [ngClass]="hide ? 'icon-eye-on' : 'icon-eye-off'"
            (click)="hide = !hide"
          ></span>
          <mat-error
            *ngIf="
              resetPasswordFormControl.password.touched &&
              resetPasswordFormControl.password.invalid
            "
            class="alert alert-danger"
          >
            <mat-error *ngIf="resetPasswordFormControl.password.errors.required"
              >Password is required.</mat-error
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="confirm_password"
            placeholder="Retype new password"
            name="confirm_password"
          />
          <span
            class="eye"
            [ngClass]="hide ? 'icon-eye-on' : 'icon-eye-off'"
            (click)="hide = !hide"
          ></span>
          <mat-error
            *ngIf="
              resetPasswordFormControl.confirm_password.touched &&
              resetPasswordFormControl.confirm_password.invalid
            "
          >
            <mat-error
              *ngIf="resetPasswordFormControl.confirm_password.errors.required"
              >Password is required.</mat-error
            >
            <mat-error
              *ngIf="
                resetPasswordFormControl.confirm_password.errors
                  .confirmedValidator
              "
              >Password and Confirm Password must be match.</mat-error
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button
          mat-raised-button
          class="primary-signin"
          (click)="openConfirmationPopup()"
          [disabled]="resetPasswordForm.invalid"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
