@import "src/styles/variables";
@import "src/styles/typography";
@import "src/styles/mixins";

.alert {
  @include d-flex {
    justify-content: getJustify(sb);
    align-items: getAlign(c);
  }
  .cross {
    cursor: pointer;
  }
}
